<%- include('./partials/head.ejs') %>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "<%= post.title %>",
    "author": {
        "@type": "Person",
        "name": "<%= post.author || 'Khe Hy' %>",
        "url": "https://yoursite.com/about"
    },
    "datePublished": "<%= post.date %>",
    "description": "<%= post.description %>",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://yoursite.com/blog/<%= post.slug %>"
    }
}
</script>
<%- include('./partials/nav.ejs') %>

<main class="container">
    <article class="blog-post">
        <header class="post-header">
            <h1 class="post-title"><%= post.title %></h1>
            <p class="post-author"><em>By <%= post.author || 'Khe Hy' %></em></p>
            <div class="post-meta">
                <time datetime="<%= post.date %>"><%= new Date(post.date).toLocaleDateString() %></time>
            </div>
        </header>

        <div class="post-content">
            <%- post.content %>
        </div>
    </article>
</main>

<%- include('./partials/footer.ejs') %> 